body {
  margin: 0;
  background: rgb(71, 53, 128);
  background: radial-gradient(
    circle,
    rgba(71, 53, 128, 1) 0%,
    rgba(26, 55, 83, 1) 100%
  );
  font-family: "Roboto", sans-serif;
}

/* mobile-first styles */
h1 {
  width: 90%;
  margin: 0.5em auto;
  padding: 0;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
}

main {
  display: flex;
  height: 55%;
  align-items: center;
  justify-content: center;
}

#main {
  max-width: 95%;
  width: 95%;
}

.section-left {
  background-color: rgb(40, 45, 80);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 0.2em;
}

.section-right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 0.2em;
}

.section-left p,
.section-right p {
  color: white;
  font-size: 0.9em;
}

.output {
  padding: 1em;
  display: block;
  margin: 0 auto;
  background-color: rgb(44, 57, 102);
  border: none;
  box-shadow: none;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
}

.info {
  text-align: center;
}

.info {
  font-size: 18px;
  color: rgb(105, 223, 242);
  font-weight: 300;
}
.info a {
  color: rgb(105, 223, 242);
}

.instruction {
  margin-top: 2em;
}

.output::placeholder {
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

.keyboard {
  background-color: rgb(30, 42, 80);
  border-radius: 5px;
  box-shadow: 0 5px 10px 5px rgb(40, 42, 80);
  border: 3px solid rgb(105, 223, 242);
}

.credit {
  font-size: 17px;
}

.letters {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

/* bigger screens */
@media (min-device-width: 667px) {
  h1 {
    padding-top: 1em;
  }

  main {
    display: flex;
    min-height: 80%;
    max-height: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  #main {
    max-width: 900px;
  }

  .section-left {
    grid-column-gap: 0;
    grid-row-gap: 2em;
  }

  .section-right {
    grid-column-gap: 0;
    grid-row-gap: 2em;
  }

  .section-left p,
  .section-right p {
    color: white;
    font-size: 20px;
  }

  .output {
    padding: 2em;
    font-size: 20px;
  }
}

/* Github corner - Thanks to @tholman! https://github.com/tholman/github-corners */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
